#root {
  margin: auto;
}

#upload-modal {
  background-color: rgb(255, 255, 255);
  padding: 3em;
  border-radius: 25px;
  height: 80vh;
  width: 80vw;
}

.BoldText {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

#UploadButton {
  align-self: center;
  margin-bottom: 0px;
}

hr {
  color: rgb(204, 206, 218);
}

.Testing-Center {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.green {
  color: rgb(0, 156, 93);
}

#importNameContainer {
  border: 2px solid rgb(204, 206, 218);
  border-radius: 10px;
  padding: 5px;
}

#File-upload-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
  border-radius: 10px;
  border-color: rgb(189, 189, 189);
}

#FileUploader {
  border-color: rgb(176, 176, 176) !important;
  color: rgba(19, 42, 74) !important;
}

#filesContainer {
}

#header-container {
  position: relative;
}

#header-container hr {
  position: absolute;
  bottom: 0; /* Align to the bottom of the header-container */
  width: 100%; /* Make the hr the full width of the header-container */
  border: none; /* Remove the default border */
  height: 1px; /* Set the desired thickness of your line */
  background-color: #000; /* Set to desired color for your line */
  margin: 0; /* Ensures there's no extra space outside the hr */
}

#modal-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#close-button {
  align-self: flex-start;
}

#modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
}

#modal-footer {
  text-align: center;
}

/* p {
  font-weight: bold;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#cancel-button {
  border: 2px solid rgb(255, 167, 60);
  background-color: rgb(255, 255, 255);
  color: rgb(255, 167, 60);
}

button {
  border-radius: 8px;
  margin: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: rgba(19, 42, 74);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #19a8ef;
  filter: drop-shadow(0 0 0.5em #646cffaa);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
