#root {
  margin: auto;
  text-align: center;
}

#upload-modal {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 80vw;
}

#modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

p {
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
}

button {
  border-radius: 8px;
  margin: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: rgba(19, 42, 74);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #19a8ef;
  filter: drop-shadow(0 0 0.5em #646cffaa);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
