.UploadedFile {
  display: flex;
  color: lightgray;
}

.uploaded-container hr {
  min-width: 99%;
}

.Uploaded-File-Logo {
  max-height: 2rem;
  margin-right: 10px;
}

.Top-Uploaded-File {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Top-Uploaded-File p {
  margin: 0px;
}

.Progress-Bar {
  max-width: 100%;
}
